@font-face {
    font-family: 'Jaber_Gang_EN_Font';
    src: url("../fonts/new/Jaber_Gang_Font_En.ttf");
}
@font-face {
    font-family: 'Jaber_Gang_FA_Font';
    src: url("../fonts/new/Jaber_Gang_Font_Fa.ttf");
}
@font-face {
    font-family: 'Jaber_Gang_NS_Font';
    src: url("../fonts/new/Jaber_Gang_Font_Ns.ttf");
}
@font-face {
    font-family: 'Jaber_Gang_NN_Font';
    src: url("../fonts/new/Jaber_Gang_Font_Nn.ttf");
}